<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoXtion Customer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC6774591D66D75A00963FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC67746F1D66D75B00963FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC67747A1D66D75B00963FE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
